In [2]:
import os
import pandas as pd
from imdb import Cinemagoer

import logging
logging.basicConfig(level=logging.DEBUG)

In [6]:
ia = Cinemagoer('sql', uri='postgresql://adityakanthale@localhost/imdbold')
results = ia.search_movie('the matrix')
for result in results:
    print(result.movieID, result)

matrix = results[0]
ia.update(matrix)

2023-04-03 15:43:41,588 DEBUG [imdbpy.parser.sql] /Users/adityakanthale/opt/anaconda3/envs/nl4db-env/lib/python3.8/site-packages/imdb/parser/sql/__init__.py:584: connecting to postgresql://adityakanthale@localhost/imdbold
DEBUG:imdbpy.parser.sql:connecting to postgresql://adityakanthale@localhost/imdbold

postgresql://adityakanthale@localhost/imdbold
[<TableAdapter(table=Table('name', MetaData(), Column('id', Integer(), table=<name>, primary_key=True, nullable=False), Column('name', UnicodeText(), table=<name>, nullable=False), Column('imdb_index', String(length=12), table=<name>), Column('imdb_id', Integer(), table=<name>), Column('gender', String(length=1), table=<name>), Column('name_pcode_cf', String(length=5), table=<name>), Column('name_pcode_nf', String(length=5), table=<name>), Column('surname_pcode', String(length=5), table=<name>), Column('md5sum', String(length=32), table=<name>), schema=None)) [id=140535232475040]>, <TableAdapter(table=Table('char_name', MetaData(), Column('id', Integer(), table=<char_name>, primary_key=True, nullable=False), Column('name', UnicodeText(), table=<char_name>, nullable=False), Column('imdb_index', String(length=12), table=<char_name>), Column('imdb_id', Integer(), table=<char_name>), Column('name_pcode_nf', String(length=5), table=<char_name>), Column('surname_pcode', String(length=5), table=<char_name>), Column('md5sum', String(length=32), table=<char_name>), schema=None)) [id=140536338946176]>, <TableAdapter(table=Table('company_name', MetaData(), Column('id', Integer(), table=<company_name>, primary_key=True, nullable=False), Column('name', UnicodeText(), table=<company_name>, nullable=False), Column('country_code', String(length=255), table=<company_name>), Column('imdb_id', Integer(), table=<company_name>), Column('name_pcode_nf', String(length=5), table=<company_name>), Column('name_pcode_sf', String(length=5), table=<company_name>), Column('md5sum', String(length=32), table=<company_name>), schema=None)) [id=140536338947904]>, <TableAdapter(table=Table('kind_type', MetaData(), Column('id', Integer(), table=<kind_type>, primary_key=True, nullable=False), Column('kind', String(length=15), table=<kind_type>), schema=None)) [id=140535235003968]>, <TableAdapter(table=Table('title', MetaData(), Column('id', Integer(), table=<title>, primary_key=True, nullable=False), Column('title', UnicodeText(), table=<title>, nullable=False), Column('imdb_index', String(length=12), table=<title>), Column('kind_id', Integer(), table=<title>, nullable=False), Column('production_year', Integer(), table=<title>), Column('imdb_id', Integer(), table=<title>), Column('phonetic_code', String(length=5), table=<title>), Column('episode_of_id', Integer(), table=<title>), Column('season_nr', Integer(), table=<title>), Column('episode_nr', Integer(), table=<title>), Column('series_years', String(length=49), table=<title>), Column('md5sum', String(length=32), table=<title>), schema=None)) [id=140535235004784]>, <TableAdapter(table=Table('company_type', MetaData(), Column('id', Integer(), table=<company_type>, primary_key=True, nullable=False), Column('kind', String(length=32), table=<company_type>), schema=None)) [id=140535235048256]>, <TableAdapter(table=Table('aka_name', MetaData(), Column('id', Integer(), table=<aka_name>, primary_key=True, nullable=False), Column('person_id', Integer(), table=<aka_name>, nullable=False), Column('name', UnicodeText(), table=<aka_name>, nullable=False), Column('imdb_index', String(length=12), table=<aka_name>), Column('name_pcode_cf', String(length=5), table=<aka_name>), Column('name_pcode_nf', String(length=5), table=<aka_name>), Column('surname_pcode', String(length=5), table=<aka_name>), Column('md5sum', String(length=32), table=<aka_name>), schema=None)) [id=140535235049072]>, <TableAdapter(table=Table('aka_title', MetaData(), Column('id', Integer(), table=<aka_title>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<aka_title>, nullable=False), Column('title', UnicodeText(), table=<aka_title>, nullable=False), Column('imdb_index', String(length=12), table=<aka_title>), Column('kind_id', Integer(), table=<aka_title>, nullable=False), Column('production_year', Integer(), table=<aka_title>), Column('phonetic_code', String(length=5), table=<aka_title>), Column('episode_of_id', Integer(), table=<aka_title>), Column('season_nr', Integer(), table=<aka_title>), Column('episode_nr', Integer(), table=<aka_title>), Column('note', UnicodeText(), table=<aka_title>), Column('md5sum', String(length=32), table=<aka_title>), schema=None)) [id=140535235050992]>, <TableAdapter(table=Table('role_type', MetaData(), Column('id', Integer(), table=<role_type>, primary_key=True, nullable=False), Column('role', String(length=32), table=<role_type>, nullable=False), schema=None)) [id=140535235082176]>, <TableAdapter(table=Table('cast_info', MetaData(), Column('id', Integer(), table=<cast_info>, primary_key=True, nullable=False), Column('person_id', Integer(), table=<cast_info>, nullable=False), Column('movie_id', Integer(), table=<cast_info>, nullable=False), Column('person_role_id', Integer(), table=<cast_info>), Column('note', UnicodeText(), table=<cast_info>), Column('nr_order', Integer(), table=<cast_info>), Column('role_id', Integer(), table=<cast_info>, nullable=False), schema=None)) [id=140535235082992]>, <TableAdapter(table=Table('comp_cast_type', MetaData(), Column('id', Integer(), table=<comp_cast_type>, primary_key=True, nullable=False), Column('kind', String(length=32), table=<comp_cast_type>, nullable=False), schema=None)) [id=140535235125552]>, <TableAdapter(table=Table('complete_cast', MetaData(), Column('id', Integer(), table=<complete_cast>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<complete_cast>), Column('subject_id', Integer(), table=<complete_cast>, nullable=False), Column('status_id', Integer(), table=<complete_cast>, nullable=False), schema=None)) [id=140535235126368]>, <TableAdapter(table=Table('info_type', MetaData(), Column('id', Integer(), table=<info_type>, primary_key=True, nullable=False), Column('info', String(length=32), table=<info_type>, nullable=False), schema=None)) [id=140535235127424]>, <TableAdapter(table=Table('link_type', MetaData(), Column('id', Integer(), table=<link_type>, primary_key=True, nullable=False), Column('link', String(length=32), table=<link_type>, nullable=False), schema=None)) [id=140535235128240]>, <TableAdapter(table=Table('keyword', MetaData(), Column('id', Integer(), table=<keyword>, primary_key=True, nullable=False), Column('keyword', UnicodeText(), table=<keyword>, nullable=False), Column('phonetic_code', String(length=5), table=<keyword>), schema=None)) [id=140535235129056]>, <TableAdapter(table=Table('movie_keyword', MetaData(), Column('id', Integer(), table=<movie_keyword>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<movie_keyword>, nullable=False), Column('keyword_id', Integer(), table=<movie_keyword>, nullable=False), schema=None)) [id=140535235158608]>, <TableAdapter(table=Table('movie_link', MetaData(), Column('id', Integer(), table=<movie_link>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<movie_link>, nullable=False), Column('linked_movie_id', Integer(), table=<movie_link>, nullable=False), Column('link_type_id', Integer(), table=<movie_link>, nullable=False), schema=None)) [id=140535235159520]>, <TableAdapter(table=Table('movie_info', MetaData(), Column('id', Integer(), table=<movie_info>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<movie_info>, nullable=False), Column('info_type_id', Integer(), table=<movie_info>, nullable=False), Column('info', UnicodeText(), table=<movie_info>, nullable=False), Column('note', UnicodeText(), table=<movie_info>), schema=None)) [id=140535235160768]>, <TableAdapter(table=Table('movie_companies', MetaData(), Column('id', Integer(), table=<movie_companies>, primary_key=True, nullable=False), Column('movie_id', Integer(), table=<movie_companies>, nullable=False), Column('company_id', Integer(), table=<movie_companies>, nullable=False), Column('company_type_id', Integer(), table=<movie_companies>, nullable=False), Column('note', UnicodeText(), table=<movie_companies>), schema=None)) [id=140535235162064]>, <TableAdapter(table=Table('person_info', MetaData(), Column('id', Integer(), table=<person_info>, primary_key=True, nullable=False), Column('person_id', Integer(), table=<person_info>, nullable=False), Column('info_type_id', Integer(), table=<person_info>, nullable=False), Column('info', UnicodeText(), table=<person_info>, nullable=False), Column('note', UnicodeText(), table=<person_info>), schema=None)) [id=140535235208432]>]
False

TypeError: Invalid argument(s) 'encoding' sent to create_engine(), using configuration PGDialect_psycopg2/QueuePool/Engine.  Please check that the keyword arguments are appropriate for this combination of components.

In [5]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

engine = create_engine(
    "postgresql://adityakanthale@localhost/imdbold"
)
args, kwargs = engine.dialect.create_connect_args(engine.url)
args, kwargs

([], {'host': 'localhost', 'dbname': 'imdbold', 'user': 'adityakanthale'})

In [7]:
inspector = inspect(engine)
inspector.get_columns('violence_reduction')

NameError: name 'inspect' is not defined